#pagelet_ticker {
     display: none !important;
}

#globalContainer {
     display: none !important;
}

#pagelet_bluebar {
     display: none !important;
}

#fbTranslationsNub {
     display: none !important;
}

.rg3fbpz-icon {
     display: none !important;
}
