#wpHeader {
	display: none !important;
}

.naviStan {
	display: none !important;
}

#wpRight {
	display: none !important;
}

.insideLeft {
	display: none !important;
}

#stgHeader {
	display: none !important;
}

.tagi {
	display: none !important;
}

.stampArt {
	display: none !important;
}

.bx11 {
	display: none !important;
}

#stgCol470 {
	display: none !important;
}

#stgOpinie {
	display: none !important;
}

#stgFooter {
	display: none !important;
}

.sMainBg {
	background: white !important;
}

.headTitle {
	display: none !important;
}

.fb_edge_widget_with_comment {
	display: none !important;
}

.insideRight {
	width: 100% !important;
}

.fs {
	display: none !important;
}

.tags {
	display: none !important;
}

#wpCenter {
	width: 100% !important;
	padding-left: 0px !important;
}

body {
	background: white !important;
	text-align: justify !important;
	font-size: 16px !important;
	font-family: Georgia, serif !important;
}

.singleArticleSpan {
	background: white !important;
	text-align: justify !important;
	font-size: 16px !important;
	font-family: Georgia, serif !important;
	line-height: 1.6em !important;
}

#intertext1 {
	text-align: justify !important;
	font-size: 16px !important;
	font-family: Georgia, serif !important;
}

h1 {
	text-align: center !important;
	margin-bottom: 15px !important;
	font-size: 30px !important;
	font-family: Georgia, serif !important;
	font-weight: normal !important;
}

#wpMain {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 680px !important;
	background: white !important;
}

.seemore {
	display: none !important;
}

.photo {
	margin: 10px auto !important;
}

#fb_widget {
	display: none !important;
}

.shortTxt {
	width: 100% !important;
}

.stampGal {
	display: none !important;
}

.shortTxt {
	background: white !important;
	text-align: justify !important;
	font-size: 16px !important;
	font-family: Georgia, serif !important;
	line-height: 1.6em !important;
}

.shortTxt p {
	background: white !important;
	text-align: justify !important;
	font-size: 16px !important;
	font-family: Georgia, serif !important;
	line-height: 1.6em !important;
}

.media {
	width: 100% !important;
}

#ecwidget-trigger {
	display: none !important;
}

#wpAdvTop {
	display: none !important;
}

#fbActivityBar {
	display: none !important;
}

.fl {
	display: none !important;
}

#adKontekst_0 {
	display: none !important;
}
